APScheduler==3.10.4
asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.4
django-apscheduler==0.6.2
django-environ==0.11.2
feedparser==6.0.10
psycopg2==2.9.7
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
tzlocal==5.0.1
