APScheduler==3.10.4
asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==5.0.2
django-apscheduler==0.6.2
django-environ==0.11.2
feedparser==6.0.11
psycopg2==2.9.9
python-dateutil==2.8.2
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.4
tzlocal==5.2
